<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora posts</h1>
    <div class="newpost">
        <form method= "post" action = "/posts">
            <h3>Username</h3>
            <input type="text" placeholder= "Enter username" name="username">
            <h3>Content</h3>
            <textarea name="content" placeholder="Enter content" ></textarea>
            <button type="submit">Post</button>
        </form>
    </div>
    
    
</body>
</html>